form {
  display: flex;
}

input {
  font-size: 1em;
}

input[type="text"] {
  flex: 0.9;
  padding: 10px;
}

input[type="submit"] {
  flex: 0.1;
  background: #008cba;
  color: white;
  border: none;
  cursor: pointer;
}